# ScamShield Frontend Environment Variables
VITE_API_URL=http://localhost:8000/api
VITE_USE_MOCK_AUTH=True

# Firebase Client configuration (Required only if VITE_USE_MOCK_AUTH=False)
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=scam-detection-4b467.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=scam-detection-4b467
VITE_FIREBASE_STORAGE_BUCKET=scam-detection-4b467.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
